.btn {
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: $mainRed;
  color: $mainFontColor;
  padding: 15px;
  border: 0px;
  width: 113px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
  transition: background-color 0.2s ease;

  &:hover {
    background-color: $mainRedDark;
  }
}