.footer {
  background-color: $footerBackground;
  color: $footerText;
  font-size: 0.9rem;

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__info-item {
    margin: 30px 0;
  }

  &__info-heading {
    font-weight: 100;
    font-size: 1.2rem;
    color: $purple;
  }

  &__info-subtitles {
    font-weight: 700;
  }

  &__info-bottom {
    margin: 0;
    padding: 15px 0;
  }

  &__fb-link {
    text-decoration: none;
    color: $footerText;
  }

  &__fb-link:hover {
    text-decoration: underline;
  }

  &__fb-icon {
    vertical-align: middle;
    padding-right: 5px;
  }
}