.footer {
  background-color: $footerBackground;
  color: $footerText;

  &__info {
    display: flex;
    justify-content: center;
  }

  &__info-item {
    margin: 30px 50px;
  }

  &__copyright {
    display: inline-block;
    padding: 10px 0;
    margin: 0px;
  }

  &__designer {
    float: right;
    margin: 0;
    padding: 10px 0;
  }
}