.grid {

  &--simple {
    display: grid;
    grid-template-areas: ". ."
                         ". .";
    grid-column-gap: 5%;
  }

  &--3 {
    display: grid;
    grid-template-areas: ". . .";
    grid-column-gap: 5%;
  }

  &--large-gap {
    grid-column-gap: 10%;
  }

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}