.header {
  z-index: 1;
  width: 100%;
  background-color: $mainColor1;
  background-image: url(/assets/images/gray-texture.jpg);
  height: 103.6px;
  transition: height 0.2s ease;

  &__grid {
    display: grid;
    grid-template-areas: ". .";
  }

  &__logo {
    display: inline-block;
    position: relative;
    width: 250px;
    padding: 15px 0px;
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: bolder;

    &--fixed-menu {
      width: auto;
    }
  }

  &__logo > a {
    text-decoration: none;
    color: $mainFontColor;
  }

  &--fixed-menu {
    position: fixed;
    top: 0px;
  }

  &--smaller-menu {
    height: 66.8px;
    transition: height 0.5s ease;
  }
}