.header {
  
  z-index: 1;
  width: 100%;
  background-color: rgba($mainColor1, 1);

  &__logo {
    display: inline-block;
    position: relative;
    width: 250px;
 
    padding: 15px 0px;
    background-color: $mainColor1;
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: bolder;
  }

  &__logo > a {
    text-decoration: none;
    color: white;
  }
}