.nav {
  width: 100%;
  background-color: #bbb;
  border: 0px;
  text-align: left;

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  &__list-item {
    float: left;
  }

  &__button {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    text-align: center;
  }

  &__button:hover {
    background-color: #333;
  }

  &__button--attention {
    background-color: lightcoral;
    
  }
}