.nav {
  border: 0px;
  text-align: center;
  font-weight: bold;

  &--header {
    padding-top: 28px;
    float: right;
  }

  &--footer {
    font-weight: lighter;
    background-color: $mainColor1;
  }
  
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  &__list-item {
    float: left;
    display: block;
  }

  &__button {
    text-decoration: none;
    color: $mainFontColor;
    padding: 15px;
    display: block;
    text-align: center;
  }

  &__button:hover {
    color: #d64a4a;
  }

  &__list--grid {
    display: grid;
    grid-template-areas: ". . . ."
                         ". . . ."
                         "b b b b";
    justify-content: center;
  }

  &__list--grid__button {
    grid-area: b;
    margin: 0 auto;
    padding-bottom: 15px;
  }
}