.nav {
  border: 0px;
  text-align: center;
  font-weight: bold;

  &--float {
    float: right;
  }

  &--light {
    font-weight: lighter;
  }

  &--color {
    background-color: $mainColor1;
  }
  
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    @mixin clearfix;
  }

  &__list-item {
    float: left;
    display: block;
  }

  &__button {
    text-decoration: none;
    color: $mainFontColor;
    padding: 15px;
    display: block;
    text-align: center;
  }

  &__button:hover {
    color: #ccc;
  }

  &__button--attention {
    background-color: $mainBlue;
    
  }
}