.page-heading {
  height: 55%;
  position: relative;
  overflow: hidden;
  border-bottom: 10px solid $mainColor1;

  &__image {
    display: block;
  }

  &__text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: white;

    @mixin atLarge {
      left: calc((100% - 1600px)/2);
    }
  }
}