.page-heading {
  height: 50%;
  position: relative;
  overflow: hidden;
  border-bottom: 20px solid $mainGreen;

  &__image {
    display: block;
  }

  &__text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: white;
  }
}