.page-section {
  padding: 40px 0px 60px 0px;

  &--white {
    background-color: $mainFontColor;
    color: $footerBackground;
  }

  &--beige {
    background-color: #f1eee7;
    color: $footerBackground;
  }

  &--red {
    background-color: #452525;
  }

  &--dark {
    background-color: #303536;
  }
}