.page-section {
  padding: 40px 0px 60px 0px;

  &--beige {
    background-color: #eee7d1;
  }

  &--white {
    background-color: #f1eee7;
  }

  &__banner {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    opacity: 0.5;
    border-top: 5px solid $mainColor1;
    border-bottom: 5px solid $mainColor1;

    &--image {
      background-image: url(/assets/images/main-high.jpg);
    }

    &--image2 {
      background-image: url(/assets/images/crouchingf.jpg);
    }
  }

  &__overlay {
    background-color: $mainColor1;
  }
}