.page-heading {
  height: 55%;
  position: relative;
  overflow: hidden;
  border-bottom: 10px solid $mainColor1;
  background-color: $mainColor1;

  &__image {
    display: block;
    margin: 0 auto;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(50, 50, 50, 0.5);
  }

  &__text {
    text-align: left;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    color: $mainFontColor;
    max-width: 400px;
    line-height: 1.3;
    
    
    @mixin atLarge {
      left: calc((100% - 1600px)/2);
    }
  }
}