.text-section {
  line-height: 1.5;
  margin: 50px auto;
  text-align: left;
  max-width: 800px;

  &--blue {
    color: $blue;
  }

  &--big {
    max-width: 1050px;
  }

  &--bold {
    font-weight: 700;
  }

  &__title {
    text-align: center;
    font-size: 3rem;
  }

  &__subtitle {
    font-size: 2rem;    
  }
}