.text-section {
  line-height: 1.5;
  margin: 50px auto;
  text-align: left;
  max-width: 800px;

  &__title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 40px;
  }

  &__subtitle {
    color: $blue;
  }
}