.top-bar {
  background-color: $footerBackground;
  padding: 10px 0;
  color: $footerText;
  font-size: 0.8rem;

  &__list {
    max-width: 1600px;
    padding: 0px;
    margin: 0 auto;
  }

  &__list-item {
    display: inline-block;
    list-style-type: none;
    padding-right: 20px;
    vertical-align: middle;
  }

  &__list-item:last-child {
    padding-right: 0px;
    float: right;
  }

  &__link {
    text-decoration: none;
    color: $footerText;
  }

  &__icon {
    vertical-align: middle;
    padding-right: 5px;
  }
}