.top-bar {
  background-color: $footerBackground;
  padding: 6px 0;
  color: $footerText;
  font-size: 0.75rem;

  &__list {
    padding: 0px;
  }

  &__list-item {
    display: inline-block;
    list-style-type: none;
    padding-right: 20px;
  }

  &__list-item:last-child {
    padding-right: 0px;
    float: right;
  }

  &__link {
    text-decoration: none;
    color: $footerText;
  }

  &__list-item:hover {
    text-decoration: underline;
  }

  &__icon {
    vertical-align: middle;
    padding-right: 5px;
  }

  &--fixed-menu {
    margin-bottom: 103.6px;
  }
}